<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
</head>
<body style="background-color:rgb(171, 8, 52)">
  <h1 style="color:rgb(184, 184, 184)">Welcome to the first rails app, limited by your imagination.</h1>
</body>
</html>
