<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
</head>
<body style="background-color:rgb(171, 8, 52)">
  <h1 style="color:rgb(184, 184, 184)">Welcome <%= params[:name] %> Your presence here was expected. Continue with your experience.</h1>
</body>
</html>
